{% extends 'index.html' %}
    {% block title %}
    <h2>Početna stranica</h2>
    <button>
        <a href="/login">Prijavi se</a>
    </button>
    {% endblock %}

    <div id="content">
        {% block content %}
        <ul>
            <li><a href="/homepage_neregistrirani">Početna</a></li>
            <li><a href="/vozila_neregistrirani">Vozila</a></li>
            <li><a href="/proizvodaci_neregistrirani">Proizvođači</a></li>
            <li><a href="/filter_ne_registrirani">Filtriranje vozila</a></li>
        </ul>
        {% endblock content %}
    </div>
    <div class="podaci">
        {% block podaci%}

        {% endblock %}
    </div>
