{% extends 'index.html' %}
        {% block title %}
        <h2>Početna stranica</h2>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        <ul>
            <li><a href="/homepage_neregistrirani">Početna</a></li>
            <li><a href="/vozila">Vozila</a></li>
            <li><a href="/proizvodaci">Proizvođači</a></li>
        </ul>
        {% endblock content %}
    </div>
    <div class="podaci">
        {% block podaci%}

        {% endblock %}
    </div>
