{% extends 'index.html' %}
    {% block title %}
    <h2>Početna stranica</h2>
    <!-- <button>
        <a href="/logout">Odjavi se</a>
    </button> -->
    {% endblock %}

    <div id="content">
        {% block content %}
        <ul>
            <li><a href="/homepage_registrirani">Početna</a></li>
            <li><a href="/vozila_registrirani">Vozila</a></li>
            <li><a href="/proizvodaci_registrirani">Proizvođači</a></li>
            <li><a href="/filter">Filtiranje vozila</a></li>
            <li><a href="/inbox">Inbox</a></li>

        </ul>
        {% endblock content %}
    </div>
    <div class="podaci">
        {% block podaci%}

        {% endblock %}
    </div>
