{% include 'homepage_registrirani.html' %}
{% block podaci %}
    <h2>Popis proizvođača:</h2>
    <div id="unos_proizvodaci">
        <button type="submit" class="btn btn-success">
            <a href="/novi_unos_proizvodac">Dodaj proizvođača</a>
        </button>
    </div>


    <table>
        <tr>
            <th>Šifra proizvođača</th>
            <th>Naziv proizvođača</th>
            {% if user.is_superuser %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
        {% for proizvodac in proizvodaci %}
        <tr>
            <td>{{proizvodac.sifra_proizvodaca}}</td>
            <td>{{proizvodac.naziv_proizvodaca}}</td>
            {% if user.is_superuser %}
            <td>
                <div id="update_proizvodac">
                    <button type="submit" class="btn btn-success">
                        <a href="{% url 'update_proizvodac' proizvodac.sifra_proizvodaca %}">Uredi</a>
                    </button>
                </div>
            </td>
            <td>
                <div id="delete_proizvodac">
                    <button type="submit" class="btn btn-success">
                        <a href="{% url 'delete_proizvodac' proizvodac.sifra_proizvodaca %}">Obriši</a>
                    </button>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
<style>
	table {
		width: 30%;
		border: 1px solid #000;
	}

	th,
	td {
		width: 25%;
		text-align: left;
		vertical-align: top;
		border: 1px solid #000;
	}
</style>

