{% include 'homepage_neregistrirani.html' %}
{% block podaci %}
    <h2>Popis vozila:</h2>
    
    <table>
        <tr>
            <th>Šifra vozila</th>
            <th>Vrsta vozila</th>
            <th>Naziv proizvođača</th>
            <th>Model vozila</th>
            <th>Godina proizvodnje</th>
            <th>Kilometraža (km)</th>
            <th>Boja</th>
            <th>Cijena (€)</th>
    
            
        </tr>
        {% for vozilo in vozila %}
        <tr>
            <td>{{vozilo.sifra_vozila}}</td>
            <td>{{vozilo.vrsta_vozila}}</td>
            <td>{{vozilo.naziv_proizvodaca}}</td>
            <td>{{vozilo.model_vozila}}</td>
            <td>{{vozilo.godina_proizvodnje}}</td>
            <td>{{vozilo.kilometraza}}</td>
            <td>{{vozilo.boja}}</td>
            <td>{{vozilo.cijena}}</td>
    
            
        </tr>
        {% endfor %}
    </table>
{% endblock %}
<style>
	table {
		width: 40%;
		border: 1px solid #000;
	}

	th,
	td {
		width: 25%;
		text-align: left;
		vertical-align: top;
		border: 1px solid #000;
	}
</style>
