{% extends 'homepage_neregistrirani.html' %}
{% block content %}
    <h2>Popis vozila:</h2>
    {% for vozilo in vozila %}
        <ul>
            <li>Šifra vozila: {{vozilo.sifra_vozila}}</li>
            <li>Vrsta vozila: {{vozilo.vrsta_vozila}}</li>
            <li>Naziv proizvođača: {{vozilo.naziv_proizvodaca}}</li>
            <li>Moddel vozila: {{vozilo.model_vozila}}</li>
            <li>Godina proizvodnje: {{vozilo.godina_proizvodnje}}</li>
            <li>Kilometraža: {{vozilo.kilometraza}}</li>
            <li>Boja: {{vozilo.boja}}</li>
            <li>Cijena: {{vozilo.cijena}}</li>
        </ul>
    {% endfor %}
{% endblock %}

